* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.content h1{
    margin: 0;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pokemon .name {
    margin: .25rem;
    color: #fff;
    
}
.pokemon {
    padding: 2rem 1rem;
    background-color: #49D0B0;
    border-radius: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;

}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    color: #fff;
    padding: .2rem;
    margin: .125rem;
    border-radius: 2rem;
    font-size: 0.625rem;

}

.pokemon .number {
    color: #000;
    opacity: .2;
    text-align: right;
}

.pokemons .detail img{
    max-width: 100%;
    height: 100px;
    align-self: flex-end;
}